<!DOCTYPE html>
<html>

<head>
    <title>Job Search</title>
    <link rel="stylesheet" href="static/css/style.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <div class="header-wrapper">
        <div id="header">
            <div class="logo"></div>
            <h1>Job Market Insights</h1>
        </div>
    </div>
    <div id="searchFormContainer">
        <form id="searchForm">
            <label for="keywords">Keywords:</label>
            <input type="text" id="keywordsInput" name="keywords" required>
            <br>
            <label for="location">Location:</label>
            <input type="text" id="locationInput" name="location" required>
            <br>
            <button type="submit">Explore</button>
        </form>
    </div>
    <div id="loader" style="display: none;">
        <div id="progressMessage">
            Scraping in progress...
        <div id="progressBarContainer">
            <div class="progress progress-infinite">
                <div class="progress-bar3">
                </div>
            </div>
        </div>
        </div>
    </div>
    <div id="noDataMessage" style="display: none;">
        No data to display.
    </div>
    <div id="topSkillsPlotContainer" style="display: none;">
        <h2>Top Skills Plot:</h2>
        <div id="topSkillsPlot"></div>
    </div>
    <div id="topCitiesPlotContainer" style="display: none;">
        <h2>Top Cities Plot:</h2>
        <div id="topCitiesPlot"></div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.1/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
                let socket = io();

                socket.on('connect', function () {
                    socket.emit('my event', { data: 'I\'m connected!' });

                    $('#searchForm').submit(function (event) {
                        event.preventDefault();
                        showLoader();

                        let keywords = $('#keywordsInput').val();
                        let location = $('#locationInput').val();
                        socket.emit('search', { keywords: keywords, location: location });
                    });
                });

                socket.on('existing_data_plots', handleExistingPlotData);
                socket.on('update_plot', handleUpdatedPlotData);

                socket.on('no_data', function () {
                    $('#loader').show();
                    $('#progressMessage').show()
                    $('#progressMessage').text('Fetching data, please wait...');
                });

                function handleExistingPlotData(data) {
                    console.log('Existing data plots received.');
                    handlePlotData(data, 'newPlot');
                }

                function handleUpdatedPlotData(data) {
                    console.log('Plot update received.');
                    handleProgressUpdate(data.state);
                    handlePlotData(data, 'react'); 
                }

                function handlePlotData(data, plotMethod) {
                    let skillsKey = (plotMethod === "newPlot") ? 'top_skills_plot' : 'new_top_skills_json';
                    let citiesKey = (plotMethod === "newPlot") ? 'top_cities_plot' : 'new_top_cities_json';

                    if (data[skillsKey] && data[citiesKey]) {
                        try {
                            let topSkillsPlot = JSON.parse(data[skillsKey]);
                            let topCitiesPlot = JSON.parse(data[citiesKey]);

                            if (validatePlotData(topSkillsPlot) && validatePlotData(topCitiesPlot)) {
                                
                                $('#topSkillsPlotContainer').show();
                                $('#topCitiesPlotContainer').show();

                                if (plotMethod === "newPlot") {
                                    Plotly.newPlot('topSkillsPlot', topSkillsPlot.data, topSkillsPlot.layout);
                                    Plotly.newPlot('topCitiesPlot', topCitiesPlot.data, topCitiesPlot.layout);
                                } else if (plotMethod === "react") {
                                    hideLoader();
                                    Plotly.react('topSkillsPlot', topSkillsPlot.data, topSkillsPlot.layout);
                                    Plotly.react('topCitiesPlot', topCitiesPlot.data, topCitiesPlot.layout);
                                }
                            } else {
                                showNoDataMessage();
                            }
                        } catch (error) {
                            console.error('Error parsing JSON data:', error);
                            showNoDataMessage();
                        }
                    } else {
                        showNoDataMessage();
                    }
                }

                function validatePlotData(plotData) {
                    return typeof plotData === 'object' && plotData !== null &&
                        plotData.hasOwnProperty('data') && plotData.hasOwnProperty('layout') &&
                        Array.isArray(plotData.data) && plotData.data.length > 0;
                }

                function handleProgressUpdate(state) {
                    if (state === "in_progress") {
                        showLoader();
                        console.log('in_progress')
                        $('#progressMessage').text('Scraping in progress...').show();
                        $('#topSkillsPlotContainer').show();
                        $('#topCitiesPlotContainer').show();
                    } else if (state === "done") {
                        hideLoader();
                        $('#progressMessage').hide();
                    }
                }

                function showLoader() {
                    $('#loader').show();
                    $('#noDataMessage').hide();
                }

                function hideLoader() {
                    $('#loader').hide();
                }

                function showNoDataMessage() {
                    $('#noDataMessage').show();
                    hideLoader();
                }

            });

    </script>
</body>

</html>

